body {
  margin: 0;
}

#petopia{
  font-family: 'Sacramento', cursive;
  font-size: 58px;
  font-weight: bolder;
  cursor: pointer;
}

h4{
  font-style: italic;
}

#stuffs{
  display: grid;
  grid-template-columns: 1fr 9fr;
}

#pet-list{
  background-color: #c9889a;
  margin: 0;
  width: 100%;
  padding-left: 15px;
}

#logo{
  border-radius: 30px;
  margin-top: auto;
}

/* top nav */
#topNav{
  width: 100%;
  height: 100px;
}

#view-all-apmnt-btn{
  margin-bottom: 25px;
}

#welcome{
  margin-bottom: 25px;
}

#sign-out-btn{

}

/* left nav */
#left-nav{
  cursor: pointer;
}

.callout {
  background-color: #f9f0e4;
  padding: 30px 0px 0px 70px;
  height: auto;
}

.cat-pic{
  margin: 10px 0 25px 10px;
  border-radius: 100px;
  border: solid;
  border-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66);
  cursor: pointer;
  display: block;
  width: 150px;
  height: 150px;
}

/* set animation for cat pic */
.cat-pic:hover{
  animation: heartBeat;
  animation-duration: 3s;
}

.side-nav{
  height: 140vh;
  position: relative;
  overflow-y: scroll;
}

h3{
  text-align: center;
  padding: 10px;
  margin-top: auto;
  display: inline-block;
}

/* pet info */

#pet-info{
  display: grid;
  grid-template-columns: 4fr 6fr;
}

#individual-pet-info{
  width: 70%;
}

#pet-portrait{
  width: auto;
  height: auto;
  border-radius: 35px;
  border: solid;
  box-shadow: -1px -4px 13px -7px #f0dddd, 5px 5px 15px 5px rgb(173 158 139);
}

#pet-pic-caption{
  text-align: center;
  font-style: italic;
  font-size: small;
}

#list-group1{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  margin-left: 55px;
}

a{
  text-align: center;
}

#select-pet{
  margin: 10px;
}

/* appointment form */

#appointment-form{
  width: 50%;
  margin: 20px;
}

/* appointment details */

#info{
  margin-left: auto;
  margin-right: 262px;
  margin-top: 20px;
  width: 70%;
}

.theme-purple{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  border: 1px solid rgb(108 117 125 / 21%);
  background-color:#f3ddddad;
}

/* reschedule form */
#reschedule-form{
  width: 82%;
  margin: auto;
  padding-top: 20px;
}

/* CALENDAR */
.card1{
  height: 100%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #d57b481f;
  background-clip: border-box;
  border: 1px solid rgb(128 115 106 / 45%);
  border-radius: .25rem;
}

table{
  height: auto;
}

.btn-warning1{
  color: #212529;
  background-color: #dca76f94;
  border-color: #735f4935;
}

.btn1{
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #735f4935;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.apt-list-item{
  list-style-type: none;
}

.apt-list-item{
  cursor: pointer;
}

.apt-list-item:hover{
  color: #a96b29;
}

.bg-info1{
  /* push background behind text */
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/711SsfKHqIL._AC_SL1500_.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  background-color: #e0bf9d;
  z-index: -1;
}

.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1300px;
}

/* all appointments list + info */
#all-appointments-pet-name{
  cursor: pointer;
}

#doge{
  padding-left: 250px;
}

#pet-names-holder{
  width: 100%;
}

#warning {
  font-style: italic;
}

#all-appointments{
  margin-left: auto;
  margin-right: 262px;
  margin-top: 20px;
  margin-bottom: 60px;
  width: 70%;
}

#booked-appointment{
  margin-left: 40px;
}

/* footer */
footer {
  text-align: left;
  padding: 3px;
  line-height: 60%;
  color: rgb(146 138 138 / 57%);
  position: fixed;        
  bottom: 0px; 
  width: 90%;
}

/* user sign in */
#submit{
  margin-top: 12px;
}