body {
  margin: 0;
}

h5{
  /* padding-left: 1400px; */
  font-style: italic;
}

#stuffs{
  display: grid;
  grid-template-columns: 1fr 9fr;
}

#pet-list{
  background-color: #b26f5f;
  margin: 0;
  width: 110%;
  padding-left: 15px;
}

#logo{
  border-radius: 100px;
  margin-top: 7px;
}

#topNav{
  width: 100%;
  height: 100px;
}

.callout {
  background-color:#fdf2ea;
  padding: 20px 0px 0px 100px;
}

.cat-pic{
  margin: 10px 0 25px 10px;
  border-radius: 100px;
  border: solid;
  border-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0.66);
  cursor: pointer;
  display: block;
  width: 150px;
  height: 150px;
}

.cat-pic:hover{
  animation: rubberBand;
  animation-duration: 1s;
}

.side-nav{
  height: 140vh;
  position: relative;
  overflow-y: scroll;
}

h3{
  text-align: center;
  padding: 10px;
  display: inline-block;
}

/* pet info */

#pet-info{
  display: grid;
  grid-template-columns: 4fr 6fr;
}

/* appointment form */

#appointment-form{
  width: 50%;
  margin: 20px;
}

/* appointment details */

#info{
  margin: 40px 40px 40px 80px;
}

/* reschedule form */
#reschedule-form{
  width: 50%;
  margin: 20px;
}

/* CALENDAR */
.card{
  width: 1200px;
  height: fit-content;
}

table{
  height: 800px;
}

.apt-list-item{
  list-style-type: none;
}

.bg-info1{
  /* push background behind text */
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/711SsfKHqIL._AC_SL1500_.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  background-color: #e0bf9d;
  z-index: -1;
}

.container{
  margin: 40px;
  max-width: 1300px;
}

/* td{ */
  /* flex-wrap: wrap;
  width: fit-content; */
  /* z-index: 2; */
/* } */