body {
  display: grid;
  grid-template-columns: 1fr 9fr;
  margin: 0;
}

#pet-list{
  background-color: #169a93;
  width: auto;
}

.callout {
  background-color: #d1f7f5;
  padding: 20px;
}

.cat-pic{
  margin: 10px;
  border-radius: 100px;
}

.side-nav{
  height: 120vh;
  position: relative;
  overflow-y: scroll;
}

h1{
  text-align: center;
  padding: 10px;
}




/* CALENDAR */
.card{
  width: 1200px;
  height: fit-content;
}

table{
  height: 800px;
}